@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", system-ui, Helvetica, Arial, sans-serif;
}
a{
  color: white;
  text-decoration: none !important; 
}

@media screen and (max-width: 600px) {
  .mobw100 {
    width: 100% !important;
  }

  .mobborder {
    border-right: none !important;
    border-bottom: 2px dashed #1985d2 !important;
  }

  .mobwteam {
    padding: 0 !important;
    width: 100% !important;
  }

  .mobwnav {
    display: none !important;
  }
}
